:root {
    /* Nuestra paleta de colores */
    --principal: #333333;
    --secundario: #dd1818;
    --letras: #a9b8c4;
    --negro: #111111;
    --blanco: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.25%; /* Con esto, podemos hacer que 1rem sea igual a 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';

    background: var(--principal);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #880e0e, var(--principal));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #880e0e, var(--principal)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    margin: 1rem;
    border-bottom: .1rem solid var(--negro);
}

.titulo {
    margin-top: 5rem;
    text-align: center;
    margin-bottom: -4rem;
}

.divImgCarrito {
    display: flex;
    flex-direction: row;
}

.numeroIcon {
    align-self: flex-start;
    margin-left: -1.3rem;
    background-color: var(--letras);
    border-radius: 50%;
    padding: .1rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.carrito-container {
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cajaProductos {
    display: grid;
    grid: auto / repeat(4, 1fr);
    gap: 4rem;

    font-size: 1.5rem;
}

.cajaProductos p, h3, h5, button {
    margin: .5rem 0;
}

.producto {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    outline: .2px solid var(--negro);
    border-radius: .5rem;
    color: var(--letras);
    transition: all .5s;
    width: 25rem;
}

.producto:hover {
    outline: none;
    background-color: var(--letras);
    color: var(--negro);
}

.info-producto {
    margin: 10px 15px;
}

.divBoton {
    display: flex;
    justify-content: flex-end;
}

.divBoton button {
    margin-top: -1rem;
    background-color: var(--secundario);
    border-radius: .4rem;
    border: none;
    padding: .5rem;
    color: var(--blanco);
    cursor: pointer;
    font-size:1.3rem;
    text-align: center;
    transition: all .5s;
}

.producto button:hover {
    background-color: #750000;
}

.producto button:active {
    background-color: #ff4f4f;
    color: #111111;
}

.producto img {
    display: block;
    margin: auto;
    width: 25rem;
    height: 30rem;
    transition: all 1s;
}

.submenu {
    font-size: 1.6rem;
    position: relative;
    list-style:none;
}

.submenu img {
    width: 5rem;
}

#img-carrito {
    width: 5rem;
    transition: all .4s;
}

#img-carrito:hover {
    width: 5.1rem;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: var(--blanco);
    padding: 2rem;
    min-height: 40rem;
    min-width: 3rem;
}

.button {
    margin-top: 1rem;
    width: 100%;
    border: none;
    background-color: #ff5252;
    padding: .6rem;
    border-radius: .3rem;
    transition: all .4s;
    cursor: pointer;
}

.button:hover {
    background-color: #fc0000;
    color: #fff;
}

.button:active {
    background-color: #880000
}

.tabla-carrito {
    list-style:none;
    width: 50rem;
    border-collapse: collapse;
    text-align: center;
    margin: 0 0 1.6rem 0;
    caption-side: top;
}

.tabla-carrito caption, td, th {
    padding: .9rem;
    border-bottom: .1rem solid #888888;
}

.borrarCurso {
    background-color: #f00;
    text-decoration: none;
    padding: .5rem .9rem;
    border-radius: 100%;
    color: #fff;
}

.total {
    float: right;
}


.select {
    font-size: 1.8rem;
}


.alerta {
    display: flex;
    color: #fff;
    text-align: center;
    font-size: 10rem;
    height: 100%;
}

select {
    background-color: var(--principal);
    border: none;
    border-radius: .4rem;
    color:var(--letras);
}

@media (max-width: 1250px) {
    .cajaProductos {
        grid: auto / repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 850px) {

    .titulo {
        margin-bottom: 0;
    }

    .carrito-container {
        padding: 0;
        justify-content: space-around;
        align-items: center;
    }

    .cajaProductos {
        grid: auto / repeat(2, 1fr);
        gap: 1rem;
    }

    .producto {
        width: 24rem;
        height: 41rem;
        margin: 2rem 1rem;
    }

    .divBoton {
        justify-content: center;
    }

    .divBoton button {
        text-align: center;
        font-size: 1.2rem;
        margin: 0;
        width: 100%;
    }

    .producto h3 {
        font-size: 1.5rem;
    }
    
    .producto h5 {
        font-size: 1.2rem;
    }

    .producto p {
        font-size: 1.1rem;
    }

    .producto img {
        width: 24rem;
        height: 28rem;
    }

    .tabla-carrito {
        width: 31rem;
        font-size: 1.4rem;
    }

    .alerta {
        font-size: 5rem;
    }
}


@media (max-width: 580px) {
    .cajaProductos {
        grid: auto / 1fr;
        gap: .5rem;
    }
    
    .producto img {
        transition: all 1s;
        width: 29rem;
        height: 34rem;
    }

    .producto {
        width: 30rem;
        height: 47rem;
        margin: 2rem 1rem;
    }
}
/* Spinner */

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }